{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Reference code</th>
      <th scope="col">Amount</th>
      <th scope="col">Items ordered</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  {% for item in orderdetails %} 
  <tbody>
    <tr>
      <td>{{item.ref_code}}</td>
      <td>₹{{item.amount}}</td>
      <td>{{item.ordereditems}}</td>
      {% if item.being_delivered == True  and item.received == False %}
        <td>Being delivered</td>
           {% endif %}
         {% if item.received == True and item.being_delivered == True %}
            <td>Delivered</td>
             {% endif %}
             {% if item.received == False and item.being_delivered == False %}
            <td>Processing</td>
             {% endif %}
             {% if item.received == False and         item.being_delivered == True %}
            <td>Processing</td>
     {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock content %}